* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #E6E6FA;
      min-height: 100%;
    }
    .container {
      display: flex;
      max-width: 70%;
      flex-wrap: wrap;
      justify-content: center;
      margin: 25vh auto;
    }
      img {
        border: 2px solid #1d2238;
        border-radius: 5px;
        width: 15vw;
        margin: .2em;
      }

      .img1, .img2, .img3 {
        width: 30.5%;
      }
      .img4, .img5, .img6, .img7, .img8 {
        width: 18%;
      }
